@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.mensaje != null)
{
    <div id="alert-box" class="alert-danger">@ViewBag.mensaje</div>
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfGrade</title>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>

    <header>
        <img src="img/logo.png" class="logo" />
        <nav class="Menu-Nav"/>
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Servicio</a>
            <a href="#">Contacto</a>
            <button class="btnInicioSesion">Inicio de Sesión</button>
    </header>

    <div class="wrapper">
        <span class="cerrar"><ion-icon name="close"></ion-icon></span>
        <div class="form-box1">
            <h2>¡Bienvenido!</h2>
            <form method="post" action="@Url.Action("IniciarSesion", "Home")">
                <div class="input-box">
                    <span class="icono"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <input type="text" name="rut" id="rut" required>
                    <label>Rut</label>
                </div>
                <div class="input-box">
                    <span class="icono"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="clave" id="clave" required>
                    <label>Contraseña</label>
                </div>
                <div class="recordar-clave">
                    <label><input type="checkbox">Recordar Clave</label>
                    <a href="#" class="formato">Olvidaste la Clave?</a>
                </div>
                <button type="submit" class="Boton" value="Iniciar Sesión">Ingresar</button>
            </form>
        </div>

        <div class="form-box2">
            <h2>Recuperar Clave</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icono"><ion-icon name="mail"></ion-icon></span>
                    <input type="text" required>
                    <label>E-mail</label>
                </div>
                <div class="input-box">
                    <span class="icono"><ion-icon name="arrow-back"></ion-icon></ion-icon></span>
                    <input type="text" required>
                    <label>Ingrese su rut</label>
                </div>
                <div class="Link-login">
                    <a href="#" class="formato">Ya tienes una cuenta?</a>
                </div>
                <button type="submit" class="Boton">Recuperar</button>

            </form>
        </div>
    </div>

    <script src="~/js/Inicio_Sesion.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>